.auth-fragment-modal {
  position: absolute;
  top: 8.2vw;
  left: 29.3vw;
  width: 58.2vw;
  height: 37.7vw;
  overflow: hidden;
  border-radius: 15px;
  background-color: rgb(197, 226, 167, .75);
  box-shadow: 0 1px 3px #757252;

  @include t {
    top: 3.5vw;
    left: 26.1vw;
    width: 66vw;
    height: 44.7vw;
    border-radius: 4px;
  }

  @include m {
    top: 330px;
    left: 3.4vw;
    width: 94.1%;
    height: 82.7vw;
  }


  .modal-header {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, #fff, #ef8d31);
    padding: 0.4vw 0.5vw 0.7vw 1.3vw;

    @include t {
      padding: 0.6vw 0.5vw 0.7vw 1.7vw;
    }

    .modal-header-text {
      font-size: 2vw;
      @include t {
        font-size: 2.2vw;
      }
      @include m {
        font-size: 3.15vw;
        padding-left: 1.6vw;
        padding-top: 0.6vw;
      }
    }
  }


  .modal-close-btn {
    height: 2.4vw;
    width: 2.4vw;
    background: url(../img/close-modal.png) no-repeat center;
    background-size: contain;
    opacity: 0.7;

    &:hover, &:focus {
      opacity: 1;
    }

    @include m {
      height: 3.8vw;
      width: 3.8vw;
    }

  }

  .modal-step {
    text-align: right;
    margin-top: 0.4vw;
    margin-right: 4.6vw;
    font-size: 1.6vw;
    color: rgba(0, 0, 0, 0.7);
    @include t {
      opacity: 0;
    }
    @include m {
      opacity: 1;
      margin-top: 0.4vw;
      margin-right: 6.6vw;
      font-size: 2.9vw;
    }
  }

  .modal-title {
    color: #000;
    margin-top: -1.3vw;
    font-size: 2.5vw;
    padding-left: 1vw;
    text-align: center;
    @include t {
      font-size: 2.9vw;
      padding-left: 0.5vw;
    }
    @include m {
      font-size: 4.7vw;
      margin-top: 0.1vw;
    }
  }

  .modal-reg-buttons-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1.4vw 10vw 0.9vw;

    img {
      width: 5vw;
      height: 5vw;
      @include t {
        width: 5.7vw;
        height: 5.7vw;
      }
      @include m {
        width: 9.3vw;
        height: 9.3vw;
      }
    }

    @include t {
      padding: 1.6vw 11vw 1.4vw;
    }
    @include m {
      padding: 4.4vw 11.9vw 2.6vw 11.1vw;
    }
  }

  .modal-auth-btn {
    z-index: 10;
    padding: 1.2vw 0vw 1vw 0.6vw;
    border-radius: 22px;
    width: 50%;
    cursor: pointer;

    &:hover, &:focus {
      z-index: 0;
      box-shadow: 0 0 10px 10px rgb(243, 239, 192, .6);
    }

    @include t {
      padding: 1.2vw 0vw 1.4vw 0.6vw;
      border-radius: 13px;
    }
    @include m {
      padding: 1.9vw 0vw 2.3vw 0.7vw;
      border-radius: 13px;
    }
  }

  .modal-auth-btn--reg {
    background-color: rgb(138, 138, 138, 0.7);
  }

  .modal-auth-btn--user {
    background-color: rgb(233, 117, 44, 0.7);

  }

  .modal-regbtn-text {
    font-size: 1.7vw;
    margin-left: 0.2vw;
    @include t {
      font-size: 1.97vw;
    }
    @include m {
      font-size: 3.14vw;
    }
  }

  .modal-regbtn-text--reg {
    margin-left: 0.5vw;
  }

  .modal-auth-form {
    position: relative;
    padding-left: 2.8vw;
    color: #000;
    width: 32vw;
    margin: 0 auto;
    @include t {
      padding-left: 0;
      width: 33.6vw;
    }
    @include m {
      padding-right: 0.7vw;
      width: 61.9vw;
    }

  }

  .modal-email-label {
    font-size: 1.75vw;
    margin-bottom: 0.3vw;
    @include t {
      font-size: 2.04vw;
    }
    @include m {
      font-size: 3.5vw;
      padding-left: 1vw;
    }
  }

  .modal-password-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.4vw;
    @include m {
      margin-top: 1.3vw;
    }
  }

  .modal-password-forgotten {
    text-decoration: none;
    color: #222;
    font-size: 1.32vw;
    font-style: italic;
    border-bottom: 1px solid #222;

    @include t {
      font-size: 1.52vw;
    }

    @include m {
      font-size: 2.18vw;
    }

  }

  .modal-input {
    width: 100%;
    padding: 1.39vw 1vw 0.7vw 1vw;
    border-radius: 33px;
    border: solid 0.2px #000;
    background-color: #efffff;

    &::placeholder {
      font-weight: bold;
      color: #000;
      font-size: 1.5vw;
      text-align: center;
      letter-spacing: -0.3px;
      @include t {
        letter-spacing: 0.4px;
      }
      @include m {
        font-size: 2.75vw;
        letter-spacing: 0.4px;
      }
    }

    @include t {
      padding: 0.89vw 1vw 0.6vw 1vw;
    }
    @include m {
      padding: 1.9vw 1vw 1.4vw 1vw;
    }
  }

  .login-error-message {
    display: none;
    position: absolute;
    color: red;
    margin-top: 1vw;
    font-size: 1.745vw;
    bottom: 4.8vw;
    left: -11.27vw;
    width: 58.2vw;
    @include t {
      bottom: 8.7vw;
      font-size: 1.8vw;
      left: -11.8vw;
    }
    @include m {
      bottom: 13vw;
      font-size: 2.8vw;
      left: -12.9vw;
      width: 93.2vw;
    }
  }

  .login-error-message.show {
    display: block;
  }

  .auth-modal__login-btn {
    margin-top: 3.2vw;
    margin-left: 6vw;
    padding: 1.2vw 5.7vw 1.3vw;

    @include t {
      margin-top: 5vw;
      margin-left: 9vw;
      padding: 1.4vw 4.5vw 1.6vw;
    }

    @include m {
      margin-top: 7.2vw;
      margin-left: 19.7vw;
      padding: 2vw 4.5vw 2vw;
      width: 23.2vw;
    }
  }

}


